.validation-message {
    font-style: normal;
    font-size: 12px;
    color: #FF1C19;
}

.form-signup {
    max-width: 420px;
    padding: 10px 10px 10px;
    margin: 0 auto;
    border: 3px dotted rgba(0,0,0,0.1);
}

.form-signup-heading {
    text-align:left;
    margin-bottom: 10px;
}

.div-go-login-page {
    max-width: 420px;
    padding: 10px 10px 10px;
    margin: 0 auto;
    background-color: #eee;
    border: 3px dotted rgba(0,0,0,0.1);
    text-align:center;
}

span.msg {
	color: blue;
	display: block;
	text-align: center;
	margin-top: 10px;
}