<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Registration</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<br/>
		<div class="container">
			<form th:action="@{/registration}" th:object="${user}" method="POST" class="form-signup">
				<h3 class="form-signup-heading"><img th:src="@{/images/logoCloud.png}" width="15%" height="15%" alt="Logo" /> Join us</h3>
				
				<br/><input type="text" th:field="*{name}" placeholder="Name" class="form-control" />
				<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="validation-message"></label> 

				<br/><input type="text" th:field="*{lastName}" placeholder="Last Name" class="form-control"/>
				<label	th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="validation-message"></label> 

				<br/><input type="text" th:field="*{email}" placeholder="Email" class="form-control" />
				<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message"></label>

				<br/><input type="password" th:field="*{password}" placeholder="Password" class="form-control" />
				<label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-message"></label>

				<br/><input type="password" th:field="*{confirmPassword}" placeholder="Confirm Password" class="form-control"/>
				<label th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="validation-message"></label>

				<br/><button type="submit" class="btn btn-sm btn-primary btn-block">Create an account</button>
				<span th:utext="${successMessage}" class="msg"></span>
			</form>
		</div>
		<br/>
		<div class="div-go-login-page">
			<a th:href="@{/}">Go to Log In page</a>
		</div>
	</body>
</html>